.card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 568px;
  padding: 16px;
  border-radius: 8px;
  background: var(--color-white);
  box-shadow: var(--shadow-section);
}

.removable {
  border: 1px solid var(--color-blue-dark);
}

.icon {
  flex: none;
  width: 24px;
  height: 24px;
  color: var(--color-blue-dark);
}

.row {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  gap: 8px;
}

.name {
  overflow: hidden;
  font-size: 14px;
  font-weight: var(--fw-medium);
  color: var(--color-black);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.size {
  flex: none;
  font-size: 12px;
  font-weight: var(--fw-regular);
  color: var(--color-gray-2);
}

.remove {
  position: absolute;
  top: -9px;
  right: -9px;
  display: flex;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.removeIcon {
  width: 24px;
  height: 24px;
}
