.chat {
  position: fixed;
  right: 16px;
  bottom: 5px;
  z-index: 20;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px;
  border: none;
  border-radius: 100px;

  background: var(--color-blue-dark);
  color: var(--color-white);

  font-size: 16px;
  font-weight: var(--fw-bold);
  white-space: nowrap;

  cursor: pointer;
  transition: background-color 120ms ease;
}

.chat:hover {
  background: var(--color-blue-primary);
}

.icon {
  flex: none;
  width: 24px;
  height: 24px;
}

.chat span {
  display: none;
}

@media (min-width: 481px) {
  .chat {
    padding: 12px 36px 12px 32px;
    right: 16px;
    bottom: 5px;
  }

  .chat span {
    display: inline;
  }
}

@media (min-width: 1101px) {
  .chat {
    right: 72px;
    bottom: 20px;
  }
}

@media print {
  .chat {
    display: none;
  }
}