.layout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 40px 16px 56px;
}

.firstStep {
  --color-heading: var(--color-gray-2);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.start {
  display: flex;
  gap: 32px;
}

.end {
  display: flex;
  gap: 32px;
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .start,
  .end {
    width: 100%;
    gap: 8px;
  }

  .start > button,
  .end > button {
    flex: 1;
  }
}

@media print {
  .footer {
    display: none;
  }
}